.tours {
  &__heading {
    color: $color-primary;
    padding-bottom: 5rem;
  }

  &__img {
    display: block;
    margin: 0 auto;
    width: 40%;
    margin-bottom: 5rem;
    transition: 0.2s all;
    &:hover {
      outline: 1.5rem solid $color-primary;
      transform: scale(1.05) translateY(-5px);
    }

    @media only screen and (max-width: $bp-med) {
      width: 70%;
    }
  }

  &__description {
    font-size: 2.2rem;
    width: 70%;
    margin: 0 auto;
    &--address {
      font-size: 2rem;
      display: block;
      text-align: center;
    }
  }
  &__btn {
    font-size: 3rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 7rem;
  }
}
